@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Year</h1>
        <h1>@ViewBag.Id</h1>
    </div>
</body>
</html>
