@model MvcApplication3.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddStu1</title>
</head>
<body>
    <div>
        @Html.TextBoxFor(s=>s.Name)
    </div>
</body>
</html>
