@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewData["test"]
        @ViewData["Test1"]

        <a href="Home/Index">dasd</a>

        <a href="@Url.Action("Add","Home")?cc=12345">传值</a>

        @*@using(@Html.BeginForm())*@

    </div>
</body>
</html>
